/*#wds-concentrationCircle { 
  position: fixed !important; 
  background-color: red; 
  z-index: 9999999 !important;
  border-radius: 50%; 
}*/


/*h1 {
    width: 100px;
    height: 100px;
    background: red;
    position :relative;
    animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}


@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}*/

.wds-img-element {
   display: none !important; 
  width: 500px !important; 
  height: 300px !important; 
  position: fixed !important; 
  left: 0 !important; 
  background-repeat: no-repeat !important;
  background-size: contain !important; 
  z-index: 10000 !important; 
}

.wds-img-element.wds-img-animation-0 {
  display: block !important;
  background-image: url("../img/meal.jpg") !important; 
  animation: move 5s infinite !important;
}


@keyframes move {
    from {
      top: -300px;
      left: 0px; 
    }
    to {
      top: 500px;
      left: 80%;
      
      }
}

[class^="wds-text-element"] {
  display: none !important; 
  position: fixed !important; 
  z-index: 10000 !important; 

  animation-name: stretch !important;
  animation-duration: 1.5s !important; 
  animation-timing-function: ease-out !important; 
  animation-delay: 0s !important;
  animation-direction: alternate !important;
  animation-iteration-count: infinite !important;
  animation-fill-mode: none !important;
  animation-play-state: running !important; 
  z-index: 10000 !important; 
}


.wds-text-element-0.wds-text-animation-0 {
  position: fixed !important; 
  display: block !important;
  color: red !important; 
  font-weight: bold !important; 
  font-size: 80px !important; 
  background-color: white !important; 
  padding: 20px !important; 
  width: auto !important; 
  height: auto !important; 
  top: 20% !important;
  left: 40% !important;  
}

.wds-text-element-1.wds-text-animation-1  {
  position: fixed !important; 
  display: block !important;
  color: blue !important; 
  font-weight: bold !important; 
  font-size: 60px !important; 
  background-color: white !important; 
  padding: 20px !important; 
  width: auto !important; 
  height: auto !important; 
  top: 40% !important;
  left: 30% !important;  
}

.wds-text-element-2.wds-text-animation-2  {
  position: fixed !important;  
  display: block !important;
  color: green !important; 
  font-weight: bold !important; 
  font-size: 60px !important; 
  background-color: white !important; 
  padding: 20px !important; 
  width: auto !important; 
  height: auto !important; 
  top: 30% !important;
  left: 20% !important;  
}

.wds-text-element-3.wds-text-animation-3  {
  position: fixed !important; 
  display: block !important;
  color: purple !important; 
  font-weight: bold !important; 
  font-size: 50px !important; 
  background-color: white !important; 
  padding: 20px !important; 
  width: auto !important; 
  height: auto !important; 
  top: 50% !important;
  left: 20% !important;  
}

.wds-text-element-4.wds-text-animation-4  {
  position: fixed !important; 
  display: block !important;
  color: black !important; 
  font-weight: bold !important; 
  font-size: 50px !important; 
  background-color: white !important; 
  padding: 20px !important; 
  width: auto !important; 
  height: auto !important; 
  top: 20% !important;
  left: 10% !important;  
}


.wds-img-animation-1 {
  animation-name: stretch !important;
  animation-duration: 2s !important; 
  animation-timing-function: ease-out !important; 
  animation-delay: 0s !important;
  animation-direction: alternate !important;
  animation-iteration-count: infinite !important;
  animation-fill-mode: none !important;
  animation-play-state: running !important; 

}

@keyframes stretch {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.2);
  }
}

.wds-paragraph-animation {
    animation: flickerAnimation 1.2s infinite !important;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}


.wds-heading-animation {
  animation-name: smallPulse !important;
  animation-duration: 2s !important; 
  animation-timing-function: ease-out !important; 
  animation-delay: 0s !important;
  animation-direction: alternate !important;
  animation-iteration-count: infinite !important;
  animation-fill-mode: none !important;
  animation-play-state: running !important; 
}

@keyframes smallPulse {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}