/* loading button */


.wds-loading-icon {
  width: 100px !important;
  animation-name: spin !important;
  animation-duration: 1500ms !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: linear !important; 
  display: inline !important; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.wds-modal-header {
  border-bottom: 1px solid transparent !important; 
}

.wds-modal-body {
  padding: 50px !important; 
  text-align: center !important;  
}


.wds-vertical-alignment-helper {
    display:table !important;
    height: 100% !important;
    width: 100% !important;
    pointer-events:none !important; /* This makes sure that we can still click outside of the modal to close it */
}
.wds-vertical-align-center {
    /* To center vertically */
    display: table-cell !important;
    vertical-align: middle !important;
    pointer-events:none !important;
}

.wds-modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit !important;
    max-width:inherit !important; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit !important;
    /* To center horizontally */
    margin: 0 auto !important;
    pointer-events: all !important;
}

.wds-loading-text {
  font-size: 20px !important; 
  font-weight: 500 !important; 
  margin: 0 !important; 
  padding: 20px 0 0 0 !important; 
}

@media screen and (max-width: 480px) {
    .wds-modal-content {
        width: 90% !important;
    }
}