#wds-tunnelVisionCanvas { 
  visibility: visible !important; 
  position: fixed !important; 
  left: 0 !important; 
  right: 0 !important; 
  top: 0 !important; 
  bottom: 0 !important; 
  z-index: 9999999 !important;
}